body {
    background-color: #d0dffd;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #212529;
}

#rockText {
    color: #343a40;
}

#paperText {
    color: #277da1;
}

#scissorsText {
    color: #fcbf49;
}

img:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 1s;
}

img {
    transition: 0.5s ease;
    width: 80px;
}

span {
    color: black;
}

.smallContainer {
    padding-top: 5px;
    text-align: center;
    width: 500px;
    height: 120px;
}

#results {
    margin: 20px;
    font-size: 15px;
}

.selectionRow {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.success {
    color: green;
}

.danger {
    color: red;
}

#reset {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 12px;
    padding: 8px;
}

#reset:hover {
    background-color: white;
    color: red;
}